doctype html
html(lang='eng')
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(href='node_modules/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css', rel='stylesheet')
    link(href='node_modules/bootstrap-colorpicker/docs/assets/main.css', rel='stylesheet')
    link(rel='stylesheet', href='/stylesheets/colour.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='/javascripts/start.js')
    script(src='node_modules/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js')
  body
    nav.navbar.navbar-fixed-top.navbar-expand-lg
      a.navbar-brand(href='#')
        img.d-inline-block.align-top(src='/images/logo.png', width='30', height='30', alt='')
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    form(method='post', action='/users/settings')
        .form-group
        h4(style='margin-left: 5px; margin-top: 7%;') Add Tags
        input(type='text', name='tags', style='width: 30%; margin-left: 5px; margin-bottom: 0;')
        br
        a(href='#', style='padding-left: 5px; margin-bottom: 5px;', data-toggle='modal', data-target='#myModal') +Add another tag
        .form-group
        h4(style='margin-left: 5px;') Add Spotify playlist
        input(type='text', name='noteTitle', style='width: 30%; margin-left: 5px; margin-bottom: 0;')
        br
        .form-group
        input.btn.btn-primary(type='submit', name='submit', value='Save')
